<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>eStore Support and Litle PayPage</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/league.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">


                <section>
                    <section data-markdown>
                        <script type="text/template">
                            # WFM eStore
                            #### Technical Architecture and
                            #### Litle PayPage Integration
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Contents
                            - eStore Web Portals
                            - Flow Diagrams
                            - Frameworks
                            - Litle PayPage Integration
                            - Developer notes
                            - Class Objects
                            - Caching
                        </script>
                    </section>
                </section>







                <section data-markdown>
                    <script type="text/template">
                        WFM.com/shop - Not instacart or online gift cards
                        <img src="./imgs/shopOnline.png" style="max-width: 800px;"/>
                    </script>
                </section>






                <section>
                    <section data-markdown>
                        <script type="text/template">
                            ## eStore web portals
                            - Customer Order Site WFM.com/shop <!-- .element: class="fragment" data-fragment-index="1" -->
                            - TM Order Site Portal hosted by Spinutech <!-- .element: class="fragment" data-fragment-index="2" -->
                            - Spinternet TM Admin Portal <!-- .element: class="fragment" data-fragment-index="3" -->
                            - InTrac TM Inventory Mgmt & Reporting <!-- .element: class="fragment" data-fragment-index="4" -->
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## Customer Facing
                        https://www.wholefoodsmarket.com/shop/BRK
                        <img src="./imgs/eStoreBRKhome.png" style="max-height: 600px;"/>
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## Spinternet
                        Admin portal for product catalog <br />and store config management
                        - PROD: http://shop-admin.wholefoodsmarket.com/
                        - QA: https://shop-admin-qa-rs.wholefoodsmarket.com/spinternet/login.aspx
                        - DEV: https://shop-admin-dev-rs.wholefoodsmarket.com/spinternet/login.aspx
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            Spinternet : Category
                            <img src="./imgs/spinCategoryBVHparties.png" style="max-width: 900px;"/>
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            Spinternet : Item
                            <img src="./imgs/spinItemBreakfastPlatter.png" style="max-height: 800px;"/>
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        Spinternet : How to access TM Ordering site:
                        <img src="./imgs/Spinternet.png" style="max-width: 800px;"/>
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## TM Order Portal
                        This was the former customer facing eStore. <br />
                        Now with TM only items and functionality.
                        <img src="./imgs/tmOrder1.png" style="max-width: 800px;"/>
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## TM Order Portal
                            <img src="./imgs/tmOrder2.png" style="max-width: 800px;"/>
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## InTrac
                            eStore Inventory Tracking
                            https://intrac.wholefoodsmarket.com/
                            <img src="./imgs/InTrac.png" style="max-height: 600px;" />
                        </script>
                    </section>

                </section>






                <section>

                    <section data-markdown>
                        <script type="text/template">
                            ## eStore Flow Diagrams
                            - High Level Design
                            - Current EFT
                            - New EFT with Litle
                            - Checkout form logical flow with Litle
                        </script>
                    </section>

                    <section>
                        eStore High Level Design
                        <img src="./imgs/eStoreHLD.png" style="max-height: 600px;" />
                    </section>

                    <section>
                        Current eStore EFT flow
                        <img src="./imgs/eStoreEFTflowCurrent.png" style="max-height: 600px;" />
                    </section>

                    <section>
                        New eStore EFT flow with Litle PayPage
                        <img src="./imgs/eStoreFlowLitle.png" style="max-height: 600px;" />
                    </section>

                    <section>
                        Checkout form logical flow with Litle
                        <img src="./imgs/eStoreCheckoutFlowLitle.png" style="max-height: 650px;" />
                    </section>

                </section>








                <section>
                    <section data-markdown>
                        <script type="text/template">
                            ## eStore Frameworks
                            - Drupal
                            - Angular.js
                            - Handlebars
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## How they fit together
                            - Drupal : eStore.module `hook_menu()` maps the url path to the handlebars partial file.
                            - Handlebars theme file assigns the Angular controller `ng-controller` to html.
                            - Angular.js controller executes business logic and UX flow.
                        </script>
                    </section>

                    <section>
                        <h3>Drupal estore.module</h3>
                        <p>Routing path to function</p>
                        <p>/wfmcom/docroot/sites/all/modules<br />
                            /custom/estore/estore.module</p>
                        <pre><code class="php" data-trim contenteditable>
function estore_menu() {

    $items['shop/%/checkout'] = array(
        'access callback' => true,
        'page callback' => 'estore_checkoutpage',
        'page arguments' => array(1)
    );

    $items['shop/%'] = array(
        'access callback' => true,
        'page callback' => 'estore_storepage',
        'page arguments' => array(1)
    );

    return $items;
}
                        </code></pre>
                    </section>

                    <section>
                        <h3>Drupal estore.module</h3>
                        <p>Page callback function to Handlebars theme file</p>
                        <pre><code class="php" data-trim contenteditable>
function estore_checkoutpage($store) {
    estore_forcessl();
    estore_nocache();
    estore_start();

    global $user;
    global $_POST;

    $estore = estore_new_estore();
    $wfm = estore_new_wfm();
    $hbs = estore_new_handlebars();
    $cartID = estore_getUserCart($store);

    // ...

    $html_body = $hbs->render(
        'checkout',
    array(
        'user' => $user_data,
        'stored_payments' => $stored_payments,
        'cart' => $items,
        'usstates' => $usstates,
        'ukstates' => $ukstates,
        'castates' => $castates,
        'countries' => $countries,
        'items' => $cart,
        'count' => $count,
        'store' => $store_info,
        'shipping_methods' => $shipping_methods,
        'json_data' => json_encode($items),
    )
);
                        </code></pre>
                    </section>

                    <section>
                        <h3>Handlebars</h3>
                        <p>Angular.js controller set by <code>ng-controller</code> attribute.</p>
                        <p>/wfmcom/docroot/sites/all/modules<br />
                            /custom/estore/dev/partials/*.handlebars</p>
                        <pre><code class="html" data-trim contenteditable>
{{&gt; header_secure}}

&lt;div  ng-controller=&quot;checkout&quot;&gt;

    &lt;form id=&quot;checkoutForm&quot;
        name=&quot;form&quot;
        checkout-form
        class=&quot;ng-class: {attempted_submit: form.attempted_submit}&quot;
        action=&quot;/shop/{{store.id}}/actions/submit&quot;
        method=&quot;post&quot;&gt;

        &lt;div class=&quot;contained cart-body&quot; ng-show=&quot;step==2&quot;&gt;

            {{#if user}}
                &lt;fieldset&gt;
                    &lt;h3&gt;Welcome back, {{user.name}}&lt;/h3&gt;
                    &lt;label&gt;Email *&lt;/label&gt;
                    &lt;input
                        ng-model=&quot;email&quot;
                        required
                        type=&quot;email&quot;
                        id=&quot;email&quot;
                        name=&quot;email&quot;
                        value=&quot;{{user.email}}&quot;
                        ng-maxlength=&quot;100&quot;
                    &gt;

                    &lt;div ng-show=&quot;form.email.$dirty &amp;&amp; form.email.$invalid&quot;&gt;
                        &lt;span ng-show=&quot;form.email.$error.email&quot;&gt;This is not a valid email.&lt;/span&gt;
                        &lt;span ng-show=&quot;form.email.$error.maxlength&quot;&gt;This field must be less than 100 characters.&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/fieldset&gt;
            {{else}}
                &lt;fieldset&gt;
                    &lt;p&gt;
                    &lt;label&gt;Guest Email *&lt;/label&gt;
                    &lt;input
                        ng-model=&quot;email&quot;
                        required
                        type=&quot;email&quot;
                        id=&quot;email&quot;
                        name=&quot;email&quot;
                        ng-maxlength=&quot;100&quot;
                        &gt;

                    &lt;div ng-show=&quot;form.email.$dirty &amp;&amp; form.email.$invalid&quot;&gt;
                        &lt;span ng-show=&quot;form.email.$error.email&quot;&gt;This is not a valid email.&lt;/span&gt;
                        &lt;span ng-show=&quot;form.email.$error.maxlength&quot;&gt;This field must be less than 100 characters.&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;/p&gt;
                &lt;/fieldset&gt;
            {{/if}}


            &lt;!-- PayPage Request Input Fields --&gt;
            &lt;fieldset&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;request$paypageId&quot; name=&quot;request$paypageId&quot; value=&quot;abc123&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;request$orderId&quot; name=&quot;request$orderId&quot; value=&quot;order_123&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;request$timeout&quot; name=&quot;request$timeout&quot; value=&quot;15000&quot;/&gt;
            &lt;/fieldset&gt;

            &lt;!-- PayPage Response Output Fields --&gt;
            &lt;fieldset&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;response$paypageRegistrationId&quot; name=&quot;response$paypageRegistrationId&quot; readonly=&quot;true&quot; value=&quot;&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;response$litleTxnId&quot; name=&quot;response$litleTxnId&quot; readonly=&quot;true&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;response$firstSix&quot; name=&quot;response$firstSix&quot; readonly=&quot;true&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;response$lastFour&quot; name=&quot;response$lastFour&quot; readonly=&quot;true&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;response$expMonth&quot; name=&quot;response$expMonth&quot; readonly=&quot;readonly&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;response$expYear&quot; name=&quot;response$expYear&quot; readonly=&quot;true&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;response$code&quot; name=&quot;response$code&quot; readonly=&quot;true&quot;/&gt;
                &lt;input type=&quot;hidden&quot; id=&quot;response$message&quot; name=&quot;response$message&quot; readonly=&quot;true&quot;/&gt;
            &lt;/fieldset&gt;
                        </code></pre>
                    </section>

                    <section>
                        <h3>Angular.js</h3>
                        <p>/wfmcom/docroot/sites/all/modules<br />
                            /custom/estore/dev/js/app.js</p>
	    				<pre><code class="javascript" data-trim contenteditable>
_estore.controller('checkout', ['$scope','$http', '$sce','Estore','$rootScope','$timeout','$q','DataLayer',
    function($scope, $http, $sce, Estore, $rootScope, $timeout, $q, DataLayer){

        $scope.reviewOrder = function(form) {
            Drupal.settings.WholeFoods = Drupal.settings.WholeFoods || {};
            Drupal.settings.WholeFoods.Litle = Drupal.settings.WholeFoods.Litle || {};
            var wfmLitle = Drupal.settings.WholeFoods.Litle;

            // First validate non-credit card form elements
            if ($scope.validateCheckout(form) == false) {
                // Form is dirty, modal error should have launched, do not continue with reviewOrder.
                console.log('Non credit card form elements are NOT valid according to $scope.validateCheckout(form)');
                return;
            } else {
                console.log('Non credit card form elements are valid according to $scope.validateCheckout(form)');
            }
                        </code></pre>
                    </section>

                </section>







                <section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Litle integration
                            - New credit card payment processing widget for eStore.
                            - Why? Sunsetting Elavon, UK payment processor, and ACI
                            - Litle PayPage widget displays credit card data form in iframe.
                            - Credit card elements submitted directly to Litle, they send response to our JS callback function.
                            - CC data will no longer touch WFM or Spinutech hosts.
                            - Relieves WFM and Spinutech of some PCI compliance obligation.
                        </script>
                    </section>

                    <section>
                        <h3>How does the Litle widget work?</h3>
                        <p>The checkout page loads the litle script (checkout.handlebars):</p>
                        <pre><code class="html" data-trim contenteditable>
&lt;script src=&quot;https://request-prelive.np-securepaypage-litle.com/LitlePayPage/js/payframe-client.min.js&quot;&gt;&lt;/script&gt;
                        </code></pre>
                    </section>

                    <section>
                        <h3>How does the Litle widget work?</h3>
                        <p>We configure and instantiate (app.js :: checkout controller):</p>
                        <pre><code class="javascript" data-trim contenteditable>
jQuery(document).ready(function() {
    Drupal.settings.WholeFoods.Litle = Drupal.settings.WholeFoods.Litle || {};
    var wfmLitle = Drupal.settings.WholeFoods.Litle;

    wfmLitle.payframeClientCallback = function(response) {
        $scope.payframeCallback(response);
    };

    wfmLitle.paypageRegIdConfigure = {
        &quot;id&quot;  : json_data.id,
        &quot;orderId&quot; : json_data.id
    };

    wfmLitle.litleConfigure = {
        &quot;paypageId&quot; : document.getElementById(&quot;request$paypageId&quot;).value,
        &quot;style&quot; : &quot;WFMdefaultStyle&quot;, // StyleSheet file name, WFMdefaultStyle or empty
        &quot;div&quot; : &quot;payframe&quot;,
        &quot;callback&quot;  : $scope.payframeCallback,
    };

    if (typeof LitlePayframeClient === &#39;undefined&#39;) {
        // TODO: HANDLE LITLE LIBRARY NOT LOADED ERR
    } else {
        payframeClient = new LitlePayframeClient(wfmLitle.litleConfigure);
    }
}
                        </code></pre>
                    </section>

                    <section>
                        <h3>How does the Litle widget work?</h3>
                        <p>"REVIEW ORDER" onClick event handler calls Angular.js 'checkout' controller <code>reviewOrder()</code> function (checkout.handlebars):</p>
                        <pre><code class="html" data-trim contenteditable>
&lt;input type=&quot;submit&quot; class=&quot;button secure-btn&quot;
    onClick=&quot;return false;&quot;
    ng-click=&quot;reviewOrder(form)&quot;
    value=&quot;REVIEW ORDER&quot; /&gt;
                        </code></pre>
                    </section>

                    <section>
                        <h3>How does the Litle widget work?</h3>
                        <p>Angular.js 'checkout' controller <code>reviewOrder()</code> (app.js):</p>
                        <pre><code class="javascript" data-trim contenteditable>
$scope.reviewOrder = function(form) {
    Drupal.settings.WholeFoods = Drupal.settings.WholeFoods || {};
    Drupal.settings.WholeFoods.Litle = Drupal.settings.WholeFoods.Litle || {};
    var wfmLitle = Drupal.settings.WholeFoods.Litle;

    // First validate non-credit card form elements
    if ($scope.validateCheckout(form) == false) {
        // Form is dirty, modal error should have launched, do not continue with reviewOrder.
        console.log(&#39;Non credit card form elements are NOT valid according to $scope.validateCheckout(form)&#39;);
        return;
    } else {
        console.log(&#39;Non credit card form elements are valid according to $scope.validateCheckout(form)&#39;);
    }

    var typeofPayframeClient = typeof payframeClient;
    if (typeofPayframeClient == &#39;object&#39; &amp;&amp; jQuery(&quot;#vantiv-payframe&quot;).length &gt; 0) {
        payframeClient.getPaypageRegistrationId(wfmLitle.paypageRegIdConfigure);
        return;
    } else {
        // Payframe not in use, proceed to the next step
        $scope.prepForSubmit(form);
    }
}
                        </code></pre>
                    </section>

                    <section>
                        <h3>How does the Litle widget work?</h3>
                        <p>Angular.js 'checkout' controller <code>reviewOrder()</code> (app.js):</p>
                        <pre><code class="javascript" data-trim contenteditable>
$scope.payframeCallback = function(response) {
    Drupal.settings.WholeFoods = Drupal.settings.WholeFoods || {};
    Drupal.settings.WholeFoods.Litle = Drupal.settings.WholeFoods.Litle || {};
    var wfmLitle = Drupal.settings.WholeFoods.Litle;
    var successful = false;
    var errMsg = &#39;&#39;;

    document.getElementById(&#39;response$code&#39;).value = response.response;
    document.getElementById(&#39;response$responseMessage&#39;).value = response.message;
    document.getElementById(&#39;response$litleTxnId&#39;).value = response.litleTxnId;
    document.getElementById(&#39;response$lastFour&#39;).value = response.lastFour;
    document.getElementById(&#39;response$firstSix&#39;).value = response.firstSix;
    document.getElementById(&#39;response$paypageRegistrationId&#39;).value = response.paypageRegistrationId;

    if (response.response === &#39;870&#39;) {
        successful = true;
    }
    else if (
        response.response === &#39;871&#39; ||
        response.response === &#39;872&#39; ||
        response.response === &#39;873&#39; ||
        response.response === &#39;874&#39; ||
        response.response === &#39;876&#39;
    ) {
        // Recoverable error caused by user mis-typing their card info.
        errMsg = &#39;Please check and re-enter your credit card number and try again.&#39;;
    }
    else if (
        response.response === &#39;881&#39; ||
        response.response === &#39;882&#39; ||
        response.response === &#39;883&#39;
    ) {
        // Recoverable error caused by user mis-typing their card info.
        errMsg = &#39;Please check and re-enter your card validation number and try again.&#39;;
    }
    else if (response.response === &#39;884&#39;) {
        // Litle PayPage frame failed to load so payment can&#39;t proceed.
        // Log the IP, user agent, time, paypageId and style that failed for debugging.
        // Hide the frame to remove unsightly browser errs
        jQuery(&#39;#payframe&#39;).hide();
        $(&#39;#submitButton&#39;).attr(&#39;disabled&#39;,&#39;disabled&#39;);
    }
    else if (response.response === &#39;885&#39;) {
        // CSS failed to load so page will look unsightly but will function
        // Continue with order
        $(&#39;#submitButton&#39;).removeAttr(&#39;disabled&#39;);

        // Log IP, user agent, time and style that failed to load for debugging
    }
    else {
        // Non-recoverable or unknown error code.
        errMsg = &#39;We are experiencing technical difficulties. Please reload this page and try again or call us to complete your order.&#39;;
    }

    if (successful == true) {
        $scope.prepForSubmit($scope.form);
    } else {
        DataLayer.validationErrorEvent(&#39;billing&#39;, &#39;missing required field(s)&#39;);
        $scope.openDialog(errMsg,
            {onclose: function(){
                $scope.focusToCCInput();
            }
        });

        $scope.$apply();

    }
}
                        </code></pre>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## How will it be deployed?
                            - Convert all outstanding orders to Pay-In-Store?
                            - Disable CC's for one month?
                        </script>
                    </section>

                </section>








                <section>
                    <section data-markdown>
                        <script type="text/template">
                            ## Developer Notes
                            - Dir structure
                            - Where to debug API calls
                            - grunt
                        </script>
                    </section>

                    <section>
                        <h3>Dir Structure</h3>
                        <p>Angular.js app.js:</p>
                        <pre><code class="bash" data-trim contenteditable>
/wfmcom/docroot/sites/all/modules/custom/estore/dev/js/app.js
                        </code></pre>
                        <p>Handlebars themes:</p>
                        <pre><code class="bash" data-trim contenteditable>
/wfmcom/docroot/sites/all/modules/custom/estore/dev/partials/*.handlebars
                        </code></pre>
                        <p>CSS:</p>
                        <pre><code class="bash" data-trim contenteditable>
/wfmcom/docroot/sites/all/modules/custom/estore/dev/css/components/*.scss
                        </code></pre>
                        <p>PHP Object Classes for APIs, caching and business logic:</p>
                        <pre><code class="bash" data-trim contenteditable>
/wfmcom/docroot/sites/all/modules/custom/estore/libs/bcapi/*.inc
                        </code></pre>
                        <p>Prod Files:</p>
                        <pre><code class="bash" data-trim contenteditable>
/wfmcom/docroot/sites/all/modules/custom/estore/public/*
                        </code></pre>
                    </section>

                    <section>
                        <h3>Grunt</h3>
                        <p>After editing app.js, handlebars or CSS run grunt before edits are activated.</p>
                        <pre><code class="bash" data-trim contenteditable>
$ cd /wfmcom/docroot/sites/all/modules/custom/estore/
$ grunt
                        </code></pre>
                        <p>Grunt prod deployments also minify.</p>
                        <pre><code class="bash" data-trim contenteditable>
$ cd /wfmcom/docroot/sites/all/modules/custom/estore/
$ grunt prod
                        </code></pre>
                    </section>

                </section>










                <section>
                    <section data-markdown>
                        <script type="text/template">
                        ## eStore Class Objects
                        /wfmcom/docroot/sites/all/module/custom/<br/>
                        estore/libs/bcapi/*.inc
                        - `class ESTORE {...}`
                        - `class ESTORE_CACHE {...}`
                        - `class SAGE {...}`
                        - `class SPIN {...}`
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## ESTORE OBJECT
                        - Processes Spinutech API responses.
                        - Handles cart management business logic.
                        - Formats cart data for API requests, formats responses.
                        - Handles tax on order.
                        - Calculates availability time windows for orders.
                        - Filters TM only data from customer view.
                        - eStore search logic.
                        - Legacy customer profile management - TM Discount, stored payments.
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## ESTORE_CACHE OBJECT
                        - eStore's Drupal cache getter and setter
                        - Accepts TTL as a param in milliseconds
                        - Defaults to 5 mins TTL
                        </script>
                    </section>

                    <section>
                        <h3>SAGE Class Object</h3>
                        <p>Add xdebug breakpoints or <code>error_log()</code> in the <code>function getAPI()</code>
                            for raw requests and responses from the Spinutech or SAGE APIs.</p>
	    				<pre><code class="php" data-trim contenteditable>
class SAGE {
    // ...
    public function getAPI($url, $params, $type = &#39;GET&#39;) {
        // Debug Spinutech API call here. Look at our request $url and $params values here.

        if ($type == &#39;GET&#39;) {
            // if we have a SAGE OAuth token at all, use it.
            // don&#39;t try to generate one here, because we may actually in the process
            // of trying to generate one...
            if ($token = $this-&gt;estore_cache-&gt;get(&#39;sage_token&#39;)) {
                $params[&#39;access_token&#39;] = $token;
            } else {
                $params[&#39;client_id&#39;] = $this-&gt;getParams(&#39;client_id&#39;);
                $params[&#39;client_secret&#39;] = $this-&gt;getParams(&#39;client_secret&#39;);
            }

            $post_data =&#39;&#39;;
            foreach ($params as $field=&gt;$val) {
                $post_data = $post_data . urlencode($field) . &quot;=&quot; . urlencode($val) . &quot;&amp;&quot;;
            }
            $url = $url . &#39;?&#39; . $post_data;
            $ch = curl_init($url);
            curl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);
        }

        if($type == &#39;POST&#39;){
            $ch = curl_init($url);
            curl_setopt($ch, CURLOPT_POST, TRUE);
            curl_setopt($ch, CURLOPT_POSTFIELDS, $params);
            curl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);
            curl_setopt($ch, CURLOPT_HTTPHEADER, Array(&quot;Content-Type: text/xml&quot;));
        }

        $result = curl_exec($ch);
        // Debug $result here for raw response from Spinutech API

        curl_close($ch);
        return $result;
    }
                        </code></pre>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## SPIN Object
                        - Wraps around SAGE object for Spinutech specific calls.
                        - XML encodes requests and decodes responses.
                        </script>
                    </section>

                </section>


                <section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Caching
                            ### No cache
                            - Cart review and checkout pages do not cache.
                            - eStore.module sets `no-cache` headers on these pages to bust Varnish, Fastly, etc.
                            - Spinutech API has no cache.
                            - SAGE normally caches for 1 hour. But not for the eStore calls to Spinutech API.
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Caching
                            ### Yes cache
                            - Generic eStore pages cache : Stores, categories, items.
                            - eStore PHP caches Spinutech API responses into Drupal cache tables for generic info like store & catalog.
                            - Default cache TTL is 5 minutes. SAGE OAuth token TTL is 15 minutes.
                            - Browser cache.
                        </script>
                    </section>

                </section>

                <section data-markdown>
                    <script type="text/template">
                    ### For more information:
                    [DigiWeb eStore Support Confluence Pages](https://wfmdigiweb.atlassian.net/wiki/display/DW/eStore%3A+Drupal+code+and+CIA+support)
                    [SAGE Spinutech Endpoints and Apigee Configuration](https://wfmdigiweb.atlassian.net/wiki/pages/viewpage.action?pageId=78283181)
                    [eStore README : Drupal module and API calls](https://wfmdigiweb.atlassian.net/wiki/display/DW/Ben+Brown%27s+eStore+README+%3A+Drupal+module+and+API+calls)
                    </script>
                </section>










            </div>

		</div>



		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>




		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
